# Go to https://github.com/settings/developers to create a new OAuth App.
# Copy the Client ID and Client Secret and paste them below.
GITHUB_CLIENT_ID=yourClientId
GITHUB_CLIENT_SECRET=yourClientSecret
# Generate a random string and paste it below.
JWT_SECRET_KEY=anySecretKey
PORT=3000
# PostgreSQL connection string.
DSN="host=postgres user=postgres password=postgres dbname=go_bloggy port=5432 sslmode=disable"
# Comma separated list of GitHub numeric IDs that will be able to access the admin panel.
# You can find your GitHub ID by following this link: https://api.github.com/users/<yourGitHubUsername>
ADMINS_EXTERNAL_IDS=0123456789
# Secret for https://www.hcaptcha.com/ service.
HCAPTCHA_SECRET=0x0000000000000000000000000000000000000000
# Mailjet API keys for sending emails.
MAILJET_PUBLIC_KEY=yourMailjetPublicKey
MAILJET_PRIVATE_KEY=yourMailjetPrivateKey
MAILJET_MAIL_FROM=yourMailjetMailFrom
MAILJET_MAIL_FROM_NAME=yourMailjetMailFromName
MAILJET_CONFIRMATION_TEMPLATE_ID=123456
MAILJET_CONFIRMATION_TEMPLATE_URL_PARAM=https://gozman.space/subscription/confirm?token=
MAILJET_POST_TEMPLATE_ID=123456
MAILJET_POST_TEMPLATE_URL_PARAM=https://gozman.space/blog/
MAILJET_UNSUBSCRIBE_URL_PARAM=https://gozman.space/subscription/unsubscribe?token=
SENTRY_DSN=https://public@sentry.example.com/1
